In [5]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

In [6]:
data = Series(np.random.randn(10),index=[['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd', 'd'],[1, 2, 3, 1, 2, 3, 1, 2, 2, 3]])

In [7]:
data

a  1    0.495181
   2   -0.959349
   3   -0.134370
b  1   -1.537380
   2   -0.978565
   3    1.023804
c  1   -1.697502
   2   -0.776796
d  2   -1.590733
   3    0.713742
dtype: float64

In [8]:
data.index

MultiIndex(levels=[[u'a', u'b', u'c', u'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])

In [9]:
data['b']

1   -1.537380
2   -0.978565
3    1.023804
dtype: float64

In [10]:
data['b':'c']

b  1   -1.537380
   2   -0.978565
   3    1.023804
c  1   -1.697502
   2   -0.776796
dtype: float64

In [12]:
data.ix[['b','d']]

b  1   -1.537380
   2   -0.978565
   3    1.023804
d  2   -1.590733
   3    0.713742
dtype: float64

In [15]:
data[:, 2]

a   -0.959349
b   -0.978565
c   -0.776796
d   -1.590733
dtype: float64

In [16]:
data.unstack()

          1         2         3
a  0.495181 -0.959349 -0.134370
b -1.537380 -0.978565  1.023804
c -1.697502 -0.776796       NaN
d       NaN -1.590733  0.713742

In [17]:
frame = DataFrame(np.arange(12).reshape((4, 3)),index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],columns=[['Ohio', 'Ohio', 'Colorado'],['Green', 'Red', 'Green']])

In [18]:
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [24]:
frame.columns.names = ['state','color']

In [25]:
frame.index.names = ['key1','key2']

In [26]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11