In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

In [2]:
data = Series(np.random.randn(10),index=[['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd', 'd'],[1, 2, 3, 1, 2, 3, 1, 2, 2, 3]])

In [3]:
data

a  1   -0.209474
   2   -0.360433
   3    1.359571
b  1   -0.859017
   2   -1.406055
   3   -1.389388
c  1    1.328203
   2    0.703332
d  2    2.352393
   3   -0.233949
dtype: float64

In [4]:
data.index

MultiIndex(levels=[[u'a', u'b', u'c', u'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])

In [5]:
data['b']

1   -0.859017
2   -1.406055
3   -1.389388
dtype: float64

In [6]:
data['b':'c']

b  1   -0.859017
   2   -1.406055
   3   -1.389388
c  1    1.328203
   2    0.703332
dtype: float64

In [7]:
data.ix[['b','d']]

b  1   -0.859017
   2   -1.406055
   3   -1.389388
d  2    2.352393
   3   -0.233949
dtype: float64

In [8]:
data[:, 2]

a   -0.360433
b   -1.406055
c    0.703332
d    2.352393
dtype: float64

In [9]:
data.unstack()

          1         2         3
a -0.209474 -0.360433  1.359571
b -0.859017 -1.406055 -1.389388
c  1.328203  0.703332       NaN
d       NaN  2.352393 -0.233949

In [10]:
frame = DataFrame(np.arange(12).reshape((4, 3)),index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],columns=[['Ohio', 'Ohio', 'Colorado'],['Green', 'Red', 'Green']])

In [11]:
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [12]:
frame.columns.names = ['state','color']

In [13]:
frame.index.names = ['key1','key2']

In [14]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [15]:
ser = Series(np.arange(3.))

In [16]:
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [18]:
ser[1]

1.0

In [19]:
ser1 = Series([1,2,3])

In [20]:
ser1

0    1
1    2
2    3
dtype: int64

In [22]:
ser1[:1]

0    1
dtype: int64