In [1]:
import pandas as pd
from pandas import DataFrame

In [2]:
frame = pd.read_csv('https://raw.githubusercontent.com/fzr72725/pydata-book/master/ch06/ex1.csv')

In [3]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

**The book's method doesn't work**

In [4]:
frame.to_pickle('frame_pickle.pkl')

In [5]:
frame = pd.read_pickle('frame_pickle.pkl')

In [6]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo