* File copied from http://www.ssa.gov/oact/babynames/limits.html

In [9]:
import pandas as pd
# from IPython.display import display, HTML

In [10]:
names1880 = pd.read_csv('names/yob1880.txt', names=['names','sex','births'])

In [12]:
names1880[:5]

       names sex  births
0       Mary   F    7065
1       Anna   F    2604
2       Emma   F    2003
3  Elizabeth   F    1939
4     Minnie   F    1746

In [18]:
names1880.groupby('sex').sum()

     births
sex
F     90992
M    110490

** use "pandas.concat" to combine multiple data files **

In [19]:
years = range(1880, 2011)

In [20]:
pieces = []
columns = ['names','sex','births']

In [29]:
for year in years:
    path = 'names/yob%s.txt'% year
    #print path
    frame = pd.read_csv(path, names=columns)
    frame['year'] = year
    pieces.append(frame)

In [32]:
# pandas.concat operates on list of dataframe, ignore_index=True means the order of rows won't be preserved
names = pd.concat(pieces, ignore_index=True)

In [33]:
names[:10]

       names sex  births  year
0       Mary   F    7065  1880
1       Anna   F    2604  1880
2       Emma   F    2003  1880
3  Elizabeth   F    1939  1880
4     Minnie   F    1746  1880
5   Margaret   F    1578  1880
6        Ida   F    1472  1880
7      Alice   F    1414  1880
8     Bertha   F    1320  1880
9      Sarah   F    1288  1880