Data Cleaning
------------

In [18]:
from pandas import DataFrame
import pandas as pd

In [19]:
df1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)})

In [20]:
df2 = DataFrame({'key': ['a', 'b', 'd'],'data2': range(3)})

In [21]:
df1

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b

In [22]:
df2

   data2 key
0      0   a
1      1   b
2      2   d

In [23]:
pd.merge(df1,df2,on='key')

   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [24]:
#df1 = DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)})

In [25]:
#df2 = DataFrame({'rkey': ['a', 'b', 'd'],'data2': range(3)})

In [26]:
#pd.merge(df1,df2,left_on='lkey',right_on='rkey')

In [30]:
pd.merge(df1, df2, how='outer')

   data1 key  data2
0    0.0   b    1.0
1    1.0   b    1.0
2    6.0   b    1.0
3    2.0   a    0.0
4    4.0   a    0.0
5    5.0   a    0.0
6    3.0   c    NaN
7    NaN   d    2.0